# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mohit Munjani
	email = mohitcrox@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = mohitmun
[core]
	excludesfile = /Users/mohit/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
