# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mohit Munjani
	email = mohitcrox@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = mohitmun
[core]
  # https://stackoverflow.com/a/11262153/2577465
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	hooksPath = ~/.git-templates/hooks
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[interactive]
  singleKey = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
  # ignore whilespace by -w when viewing moved file
  newMoved = green reverse
  oldMoved = red reverse
[diff]
  colorMoved = plain
[receive]
  denyCurrentBranch = ignore
