# GistID:963f95aaf61d50e512511ac4eb097e50
# global gitignore
# https://stackoverflow.com/a/40043793/2577465
# git config --global core.excludesfile ~/.gitignore
cscope*
.plan
.DS_Store
tags
.session.vim
vendor/*
.localrc
.notes
